<!-- Support our projects -->

<!-- {% load static %} -->

{% include 'payments/header.html' %}
  <section class="section wrapper">
    <h2>Looking for ways to support me?</h2>
    <p>Look no further. You could make a difference by supporting one of my many projects. One way to support is also by doing so in kind. 
      You could advise on a better way of doing things and how to improve.</p>
    <div class="parent">
      <div class="child">
        <div class="product">
          <img src="{% static 'assets/img/coffee.jpeg' %}" alt="Coffee">
        </div>
        <button class="button is-primary" id="submitBtn">Purchase A Cup of Coffee!</button>
      </div>
      <div class="child">
        <div class="product">
          <img src="{% static 'assets/img/beer.jpeg' %}" alt="">
        </div>
        <button class="button is-primary" id="submitBtn2">Purchase a Bottle of Beer</button>
      </div>
      <div class="child">
        <div class="product">
          <img src="{% static 'assets/img/recurrent_beer.jpeg' %}" alt="">
        </div>
        <button class="button is-primary" id="submitBtn3">Purchase a Crate of Beer</button>
      </div>
    </div>
  </section>
{% include 'payments/footer.html' %}
  <!-- </body>

