{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tertese Samuel Moses</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="https://kit.fontawesome.com/a8ef416f28.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header" style="background-image: url('{% static "assets/img/tertese3.jpeg" %}');">
        <div class="container">
            <nav>
                <img src="{% static 'assets/img/tertese3.png' %}" class="logo">
                <ul id="sidemenu">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fas fa-times" onclick="closemenu()"></i>
                </ul>
                <i class="fas fa-bars" onclick="openmenu()"></i>
            </nav>

            <div class="header-text">
                <p>Embedded Systems/Software Engineer</p>
                <h1>Hi, I'm <span>Tertese</span><br>Moses from Nigeria</h1>
            </div>
        </div>
    </div>
    <!-- About -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="{% static 'assets/img/tertese.jpeg'%}">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p>I recently graduated from Heriot-Watt University, Edinburgh, with a masters degree in Robotics. Before that I studied
                        Electrical and Electronics Engineering at the University of Agriculture, Makurdi(now Joseph Sarwuan Tarka University
                        Makurdi). I have worked in several capacities as a tutor. I am currently working on multiple projects to develop my 
                        in IoT and Embedded Software/Systems applications.
                    </p>
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('experience')">Experience</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>Electronic Design</span><br>Designing Electronic Devices</li>
                            <li><span>IoT Applications</span><br>Developing device drivers for communicating between embedded systems</li>
                            <li><span>Robotics</span><br>Building robots for manufacturing</li>
                            <li><span>Programming Languages:</span><br>C|C++<br>Python</li>
                            <li><span>Software:</span><br>OpenCV, Pytorch, MATLAB, Proteus, Arduino IDE, Keil ARM, Jupyter Notebook, Google Collaborate</li>
                            <li><span>Operating Systems:</span><br>Windows, Linux, FreeRTOS, ROS</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="experience">
                        <ul>
                            <li><span>2022-2022</span><br>Line chef at Wagamama, Edinburgh</li>
                            <li><span>2020-2022</span><br>Computer Programming Tutor at Smat School of Engineering, Benue</li>
                            <li><span>2021-2021</span><br>Mathematics Teacher at The Hillside School, Abuja</li>
                            <li><span>2018-2019</span><br>Volunteer NYSC, Faith Comprehensive Group of Schools, Ilorin</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>2021-2022</span><br>Master of Science in Robotics<br>Heriot-Watt University, Edinburgh</li>
                            <li><span>2011-2016</span><br>Bachelor of Engineering in Electrical and Electronics Engineering<br> University of Agriculture, Makurdi(now Joseph Sarwuan Tarka University)</li>
                            <li><span>2005-2011</span><br>St. John Bosco Secondary School, Doma</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services -->
    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fas fa-code"></i>
                    <h2>Device Drivers</h2>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fas fa-crop-alt"></i>
                    <h2>Robotics</h2>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fab fa-app-store"></i>
                    <h2>Embedded Systems/IoT Applications</h2>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fab fa-app-store"></i>
                    <h2>Web Development</h2>
                    <a href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio -->

    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">My Work</h1>
            <div class="work-list">
                <div class="work">
                    <img src="{% static 'assets/img/work-1.png' %}">
                    <div class="layer">
                        <h3>Social Media App</h3>
                        <p>The app connects you to the talented people around the world.
                            Download it from play store.
                        </p>
                        <a href=""><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{% static 'assets/img/work-2.png' %}">
                    <div class="layer">
                        <h3>Music App</h3>
                        <p>The app connects you to the talented people around the world.
                            Download it from play store.
                        </p>
                        <a href="@"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{% static 'assets/img/work-3.png' %}">
                    <div class="layer">
                        <h3>Online Shopping App</h3>
                        <p>The app connects you to the talented people around the world.
                            Download it from play store.
                        </p>
                        <a href=""><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                
            </div>
            <a class="btn" href="#">See more</a>
        </div>
    </div>

    <!-- Contact -->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fas fa-paper-plane"></i> smatnemo25@gmail.com</p>
                    <p><i class="fas fa-phone-square-alt"></i> 07716534368</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/smat.nemo"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="www.linkedin.com/in/tertese-samuel-moses"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <a href="{% static 'assets/img/Tertese_Moses_CV.pdf' %}" download class="btn btn2">Download CV</a>
                </div>
                <div class="contact-right">
                    <form name="submit-to-google-sheet">
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="text" name="Email" placeholder="Your Email" required>
                        <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form>
                    <span id="msg">
                    
                    </span>
                </div>

            </div>
        </div>


        <div class="copyright">
            <p>Copyright © Smat Industries. Made with <i class="fas fa-heart"></i> by Smat School of Engineering</p>
        </div>
    </div>

    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");

        function opentab(tabname){
            for(tablink of tablinks){
                tablink.classList.remove("active-link");
            }

            for(tabcontent of tabcontents){
                tabcontent.classList.remove("active-tab");
            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(tabname).classList.add("active-tab");
        }
    </script>
    <script>

        var sidemenu = document.getElementById("sidemenu");
        
        function openmenu(){
            sidemenu.style.right = "0";
        }
        function closemenu(){
            sidemenu.style.right = "-200px";
        }
    </script>
      
      <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbylvQoECMXaG9CLK8XSOrfZxr3W6XH3rbAFKtDFlSmKEACPyTbphAACHCEsZy2Xwqnd/exec'
        const form = document.forms['submit-to-google-sheet']
        const msg = document.getElementById("msg")
      
        form.addEventListener('submit', e => {
          e.preventDefault()
          fetch(scriptURL, { method: 'POST', body: new FormData(form)})
            .then(response => {
                msg.innerHTML = "Message sent successfully"
                setTimeout(function(){
                    msg.innerHTML =""

                }, 5000)
                form.reset()
            })
            .catch(error => console.error('Error!', error.message))
        })
      </script>
</body>
</html>