{% include "dsa/header.html" %}
<div>
    <h1>Binary Search</h1>
</div>

<div>
    <p>We will begin with a hands-on approach to learning Data Structures and Algorithm.</p>
    <p>Problem 1: Imagine you were asked to pick out a card with a specific number from a deck of cards arranged in decreasing order by turning over as few cards as possible. Now write a function to this.</p>
    <p>If you are familiar with the concept of Binary Search then this is a simple problem. Well, it is. Let's get to it. </p>
    <p>We'll write a function to help you solve this problem.</p>
</div>

<div>
    <h3>The Importance of Data Structures and Algorithms</h3>
    <p>You will quickly see why it is important to understand basic Data Structures and Algorithms from this problem. While it is true that you may never apply some of these data structures in your job as 
    a Software Developer, it is inevitable that you will face them in interviews. Another important thing to note is that it helps you think. By repeatedly solving problems and applying these techniques, you 
    will gain the ability to think through problems quickly.</p>
    <p>Some key skills you develop when solving programming problems are:</p>
    <ol>
        <li>Ability to think systematically</li>
        <li>Identify extreme or edge cases for your solution and know its limitations</li>
        <li>Ability to communicate your ideas clearly</li>
        <li>Convert those ideas into working code</li>
    </ol>
</div>

<div>
    <h2>
        The Method
    </h2>
    <p>Here is a well defined strategy for solving problems:</p>
    <ol>
        <li>Write out the problem in your own words. Make a note of the input and output type</li>
        <li>Write out examples of the inputs and outputs. Think about edge cases.</li>
        <li>Think of a correct solution for the problem. Write it or say it in plain English.</li>
        <li>Try to implement it in code and test it using your examples. Debug it if there are errors</li>
        <li>Do a complexity analysis of the your algorithm and identify its inefficiencies.</li>
        <li>Apply a better technique to overcome the inefficiencies</li>
    </ol>

    <p>The purpose of this course is to help you learn how to <i>Apply a better technique</i> from already tested and used
    data structures and algorithms.</p>
</div>

<div>
    <p>Let's use <i>The Method</i> to solve our problem</p>
    <h2>Solution</h2>
    <h3>Step 1: Write out the problem in your own words. Make a note of the input and output type.</h3>
    <p>After reading the problem, you have to reword it. Write it out clearly explaining how you understand it. This will help 
    you to remember the details of the problem.</p>
    <div>An example would be:
        <div>
            <h4>Problem:</h4>
            <blockquote>I have a list of cards. These cards are arranged in decreasing order. I have been asked to pick one card from this list.
            I must look for a strategy that allows me to turn over as few cards as possible.</blockquote>
        </div>
        <div>
            <p>
                If you are familiar with python you will know that a sequence of cards can be represented by a list in python. A list is an indexed array.
                Each card corresponds to an index of the array. An example of a deck of cards represented using an array is [14, 13, 12, 11, 10, 8, 7, 5]. We
                have 8 cards in total corresponding to the number of items in our list.
            </p>
            <p>
                <h4>Input:</h4>
                <blockquote>
                    <span>
                        cards: An argument to be passed into our function sorted in decreasing order. Eg.[14, 13, 12, 11, 10, 8, 7, 5].
                        query: An argument that specifies the number to be drawn from the cards - our target. Eg 8.
                    </span>
                </blockquote>
            </p>
            <p>
                <h4>Output:</h4>
                <span>The output can correspond to the index of the query or target.</span>
                <blockquote>
                    <span>
                        position: This is the value to be returned by our function. Eg 6 for our target 8.
                    </span>
                </blockquote>
            </p>

        </div>
    </div>
    <div>
        <span>Using the input and output formats defined, we create a signature function.</span>
        
        <pre>
            def locate_card(cards, query):
                pass
        </pre>
        <ul>
            <li>Think carefully before naming your functions</li>
            <li>You could discuss the problem with your colleague in a workplace or your interviewer</li>
            <li>Think carefully about the names of your arguments and variables</li>
        </ul>
    </div>

</div>
<br />
<div>
    <h3>Step 2: Write out examples of the inputs and outputs. Think about edge cases.</h3>
    <p>
        It is wise to have test cases set up before you start writing your solution. It helpls you think of the different approaches
        you could possibly take to solve the problem.
    </p>
<pre>
cards = [14, 13, 12, 11, 10, 8, 7, 5]
query = 8
output = 6
</pre>
    <p>
        Our testing strategy is to compare the result of out function to the expected output which is the position. Our function returns result.
        The result is compared with the expected output.
    </p>
<pre>
        result = locate_card(cards, query)
        result == output
</pre>
    <p>The current result of our function is going to be obviously None. The function doesn't return anything'
    The test 'result == output' will be false. To verify, run: 
    </p>
<pre>
print(result)
</pre>
    <p>
        We will have several test cases and it is inconvinient to test them one at a time. So, the test cases will be held in a list.
    </p>
<pre>
test_cases = []
</pre>
    <p>For convinience as well as efficiency, each test will be a dictionary and it will be added to a list called test_cases.</p>
<pre>
test = {
    'input': {
        'cards': [14, 13, 12, 11, 10, 8, 7, 5],
        'query': 8,
     },
     'output': 6
}
</pre>
    <p>The dictionary test is our first test case and can be tested as follows:</p>
<pre>
locate_card(**test['input']) == test['output']
</pre>
    <p>For now, this will be false if you are running this in command line or use print.</p>
<pre>
print(locate_card(**test['input']) == test['output'])
</pre>
    <p>

    </p>
</div>



{% include "dsa/footer.html" %}