{% include "dsa/header.html" %}
<div class="wrapper">
<div>
    <h1>Binary Search</h1>
</div>

<div>
    <p>We will begin with a hands-on approach to learning Data Structures and Algorithm.</p>
    <p>Problem 1: Imagine you were asked to pick out a card with a specific number from a deck of cards arranged in decreasing order by turning over as few cards as possible. Now write a function to this.</p>
    <p>If you are familiar with the concept of Binary Search then this is a simple problem. Well, it is. Let's get to it. </p>
    <p>We'll write a function to help you solve this problem.</p>
</div>

<div>
    <h3>The Importance of Data Structures and Algorithms</h3>
    <p>You will quickly see why it is important to understand basic Data Structures and Algorithms from this problem. While it is true that you may never apply some of these data structures in your job as 
    a Software Developer, it is inevitable that you will face them in interviews. Another important thing to note is that it helps you think. By repeatedly solving problems and applying these techniques, you 
    will gain the ability to think through problems quickly.</p>
    <p>Some key skills you develop when solving programming problems are:</p>
    <ol>
        <li>Ability to think systematically</li>
        <li>Identify extreme or edge cases for your solution and know its limitations</li>
        <li>Ability to communicate your ideas clearly</li>
        <li>Convert those ideas into working code</li>
    </ol>
</div>

<div>
    <h2>
        The Method
    </h2>
    <p>Here is a well defined strategy for solving problems:</p>
    <ol>
        <li>Write out the problem in your own words. Make a note of the input and output type</li>
        <li>Write out examples of the inputs and outputs. Think about edge cases.</li>
        <li>Think of a correct solution for the problem. Write it or say it in plain English.</li>
        <li>Try to implement it in code and test it using your examples. Debug it if there are errors</li>
        <li>Do a complexity analysis of the your algorithm and identify its inefficiencies.</li>
        <li>Apply a better technique to overcome the inefficiencies</li>
    </ol>

    <p>The purpose of this course is to help you learn how to <i>Apply a better technique</i> from already tested and used
    data structures and algorithms.</p>
</div>

<div>
    <p>Let's use <i>The Method</i> to solve our problem</p>
    <h2>Solution</h2>
    <h3>Step 1: Write out the problem in your own words. Make a note of the input and output type.</h3>
    <p>After reading the problem, you have to reword it. Write it out clearly explaining how you understand it. This will help 
    you to remember the details of the problem.</p>
    <div>An example would be:
        <div>
            <h4>Problem:</h4>
            <blockquote>I have a list of cards. These cards are arranged in decreasing order. I have been asked to pick one card from this list.
            I must look for a strategy that allows me to turn over as few cards as possible.</blockquote>
        </div>
        <div>
            <p>
                If you are familiar with python you will know that a sequence of cards can be represented by a list in python. A list is an indexed array.
                Each card corresponds to an index of the array. An example of a deck of cards represented using an array is [14, 13, 12, 11, 10, 8, 7, 5]. We
                have 8 cards in total corresponding to the number of items in our list.
            </p>
            <p>
                <h4>Input:</h4>
                <blockquote>
                    <span>
                        cards: An argument to be passed into our function sorted in decreasing order. Eg.[14, 13, 12, 11, 10, 8, 7, 5].
                        query: An argument that specifies the number to be drawn from the cards - our target. Eg 8.
                    </span>
                </blockquote>
            </p>
            <p>
                <h4>Output:</h4>
                <span>The output can correspond to the index of the query or target.</span>
                <blockquote>
                    <span>
                        position: This is the value to be returned by our function. Eg 6 for our target 8.
                    </span>
                </blockquote>
            </p>

        </div>
    </div>
    <div>
        <span>Using the input and output formats defined, we create a signature function.</span>
        
<pre>
def locate_card(cards, query):
    pass
</pre>
        <ul>
            <li>Think carefully before naming your functions</li>
            <li>You could discuss the problem with your colleague in a workplace or your interviewer</li>
            <li>Think carefully about the names of your arguments and variables</li>
        </ul>
    </div>

</div>
<br />
<div>
    <h3>Step 2: Write out examples of the inputs and outputs. Think about edge cases.</h3>
    <p>
        It is wise to have test cases set up before you start writing your solution. It helpls you think of the different approaches
        you could possibly take to solve the problem.
    </p>
<pre>
cards = [14, 13, 12, 11, 10, 8, 7, 5]
query = 8
output = 6
</pre>
    <p>
        Our testing strategy is to compare the result of out function to the expected output which is the position. Our function returns result.
        The result is compared with the expected output.
    </p>
<pre>
result = locate_card(cards, query)
result == output
</pre>
    <p>
        The current result of our function is going to be obviously None. The function doesn't return anything'
        The test 'result == output' will be false. To verify, run:
    </p>
<pre>
print(result)
</pre>
    <p>
        We will have several test cases and it is inconvinient to test them one at a time. So, the test cases will be held in a list.
    </p>
<pre>
test_cases = []
</pre>
    <p>For convinience as well as efficiency, each test will be a dictionary and it will be added to a list called test_cases.</p>
<pre>
test = {
    'input': {
        'cards': [14, 13, 12, 11, 10, 8, 7, 5],
        'query': 8,
     },
     'output': 6
}
</pre>
    <p>The dictionary test is our first test case and can be tested as follows:</p>
<pre>
locate_card(**test['input']) == test['output']
</pre>
    <p>For now, this will be false if you are running this in command line or use print.</p>
<pre>
print(locate_card(**test['input']) == test['output'])
</pre>
    <p>
        Time to list out all our test cases. Append the first test case to the test_cases list.
    </p>

    <p>Here is a list of the kind of test cases that you should think of. Your function be able to handle all of these.</p>
    <ol>
        <li>The target argument query is in the middle after the first card but before the last</li>
        <li>query occurs as the first card</li>
        <li>query occurs at the end of the list</li>
        <li>There is only one card and it is the query</li>
        <li>query is not in the list of cards</li>
        <li>There are no cards. Empty list of cards</li>
        <li>There are multiple cards and they are all query</li>
        <li>The list of cards contain other cards and repeating query cards</li>
    </ol>
    <blockquote>
        <b>Edge Cases:</b><span>Note how all the cases above try to deal with edge cases. Cases that could make your function
        return errors if not properly handled or well thought out. 
        Try to come up with more cases on your own.</span>
    </blockquote>
    <!--Appending Test case 1 and 2-->
<pre>
<span class="python-comment"># normal test case where query occurs in the middle</span>
test_cases.append(test)
test_cases.append({
    'input': {
        'cards': [13, 11, 10, 7, 4, 3, 1, 0],
        'query': 1
    },
    'output': 6
})
</pre>

    <!--Appending Test case 3-->
<pre>
<span class="python-comment"># query occurs at the beginning of the list</span>
test_cases.append({
    'input': {
        'cards': [4, 2, 1, -1],
        'query': 4
    },
    'output': 0
})
</pre>

    <!--Appending Test case 4-->
<pre>
<span class="python-comment"># query occurs at the end of the list</span>
test_cases.append({
    'input': {
        'cards': [3, -1, -9, -127],
        'query': -127
    },
    'output': 3
})
</pre>

<!--Appending Test case 5-->
<pre>
<span class="python-comment"># query is the only card in the list</span>
test_cases.append({
    'input': {
        'cards': [6],
        'query': 6
    },
    'output': 0
})
</pre>


<!--Appending Test case 6-->
<pre>
<span class="python-comment"># query is not in the list of cards</span>
test_cases.append({
    'input': {
        'cards': [9, 7, 5, 2, -9],
        'query': 4
    },
    'output': -1
})
</pre>

<!--Appending Test case 7-->
<pre>
<span class="python-comment"># The list of cards is empty</span>
test_cases.append({
    'input': {
        'cards': [],
        'query': 7
    },
    'output': -1
})
</pre>

<!--Appending Test case 8-->
<pre>
<span class="python-comment"># The list of cards contains repeating cards or numbers with query in the middle</span>
test_cases.append({
    'input': {
        'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0],
        'query': 3
    },
    'output': 7
})
</pre>

<!--Appending Test case 9-->
<pre>
<span class="python-comment"># The query is repeated in the list of cards</span>
test_cases.append({
    'input': {
        'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0],
        'query': 6
    },
    'output': 2
})
</pre>

<pre>
print(test_cases)
</pre>

    <p>The output should be a list of all the tests held in test_cases. Now we can think of a solution and test it using our nearly
    exhaustive list of test cases. Check next step</p>

</div>

<div>
    <h3>Step 3: Think of a correct solution for the problem. Write it or say it in plain English.</h3>
    <p>
        The first goal is to come up with any solution. It may not be the best solution but it should work. This is usually a <i>brute force
        solution</i>.
        It could help to try solving this problem using a pen and paper. Create a step by step approach before coding it.
        Here are a couple of brute force solutions that you might be thinking of.
        <blockquote>
            <b>First Solution:</b> You could be thinking of starting from the first item with index 0 in the list. You take the item, compare it to your query
            if it is a match, return the position as the solution. If not increment the index and compare the next item to the query. If it is a match return the index
            otherwise increment the index and try again. Continue until you compare the last item in the list. If the list is exhausted return -1 to indicate that our query
            was not found.
        </blockquote>
        <blockquote>
            <b>Second Solution:</b> You could start the comparison from the last item in the list instead. Create a variable position to hold the index of the last item. Compare
            the card with the query and if it is a match return position as the result otherwise decrease position by 1 and try again. Repeat until the list is exhausted.
            Once the list is exhausted return -1 to indicate that our query is not contained in the list.
        </blockquote>
    </p>
    <p>
        Both solutions are the same. This is the linear search algorithm. Our very first algorithm. Let's make it more readable and hopefully implement it.
        <ol>
            <li>Create a variable to hold the position of the first item. Eg position = 0</li>
            <li>Check if the number at position is the same as the query</li>
            <li>If it is the same as the query, position is the answer, return position</li>
            <li>Otherwise increase position by 1 and repeat steps 2 and 3</li>
            <li>Continue until the list is exhausted and return -1 if no match is found</li>
        </ol>
        <blockquote>
            <b>Linear Search Algorithm:</b> is simply a list of statements as presented above. It involves searching through a list in a linear manner, one element after another.
        </blockquote>
    </p>
    <blockquote>
        <b>Advice:</b> The trick is to try to express the algorithm in words or in writing for better understanding before attempting to code the solution. The clearer you are able to 
        express yourself in words or writing the better you will be able to code the solution.
    </blockquote>
    
</div>

<div>
    <h3>Step 4: Try to implement it in code and test it using your examples. Debug it if there are errors</h3>
    <p>
        Time we have all been waiting for is here. Time to write some coding logic. We will use everything above here. 
        Each step will be written as a comment.
        First attempt:
    </p>
<pre>
def locate_card(cards, query):
    <span class="python-comment"># Create a variable to hold the position of the first item. Eg position = 0</span>
    position = 0
    
    <span class="python-comment"># Create a loop for repeating steps 2 and 3</span>
    while True:
        <span class="python-comment"># Check if the number at position is the same as the query</span>
        if cards[position] == query:
        
            <span class=""># Found answer, return and exit!</span>
            return position
        
        <span class="python-comment"># Otherwise increase position by 1</span>
        position += 1

        <span class="python-comment"># Before repeating steps 2 and 3, check if we have reached the end of the list</span>
        if position == len(card):
            
            <span class="python-comment"># Return -1 if position value exceeds the last index</span>
            return -1
</pre>
            
            
</div>

</div>

{% include "dsa/footer.html" %}