{% include "dsa/header.html" %}
<div class="wrapper">
    <div class="container-fluid">
        <h1>Data Structures and Algorithms</h1>
        <p>
            Learning Data Structures and Algorithms is not only cool but it also helps to solve a lot of custom problems. Typically every problem you encounter has almost certainly been encountered by someone else before you.
            And they have-thank God- painstakingly spent a lot of time trying to solve it. As a result they came up with a template for such a problem and similar variations of the same problem. This will no doubt help you solve
            the problem, not just efficiently but robustly.
        </p>
        <p>
            Now, the default programming language for this will be Python programming language. Yes, that's because it looks like an English description of the algorithms and hopefully, it will be easy to understand.
            <i>Let's Get Started</i>
        </p>
    </div>

    <!-- The content that is updated in the table -->
    <div id='toc'></div>

    <h3>Lesson 1 - Binary Search, Linked Lists and Complexity</h3>
    <ul>
        <li>
            <a href="{% url 'dsa' %}">Linear and Binary Search</a>
        </li>
        <li>Complexity and Big O Notation</li>
        <li>Linked Lists using Python classes</li>
    </ul>

    <h3>Lesson 2 - Binary Search Trees, Traversals and Recursion</h3>
    <ul>
        <li>Binary trees, traversals, and recursion</li>
        <li>Binary Search trees & Common operations</li>
        <li>Balanced binary trees and optimizations</li>
    </ul>

    <h3>Lesson 3 - Sorting Algorithms and Divide & Conquer</h3>
    <ul>
        <li>Bubble sort and Insertion Sort</li>
        <li>Merge sort using Divide and Conquer</li>
        <li>Quicksort and Average complexity</li>
    </ul>

    <h3>Lesson 4 - Recursion and Dynamic Programming</h3>
    <ul>
        <li>Recursion and Memoization</li>
        <li>Subsequence and knapsack problems</li>
        <li>Backtracking and pruning</li>
    </ul>

    <h3>Lesson 5 - Graph Algorithms(BFS, DFS and Shortest Paths)</h3>
    <ul>
        <li>Graphs, trees, and adjacency lists</li>
        <li>Breadth-first and depth-first search</li>
        <li>Shortest paths and directed graphs</li>
    </ul>
</div>
{% include "dsa/footer.html" %}
